body {
	background: black;
}

a {
	color: white;
}

p {
	color: white;
}

h1 {
	color: white;
}

h2 {
	color: white;
}

h3 {
	color: white;
}

h4 {
	color: white;
}

h5 {
	color: white;
}

h6 {
	color: white;
}